body{
    height: 100%;
    font-family: Calibri;
    background-color: darkgrey;
}

header{
    height: 60px;
    background-color: lightblue;
    text-align: center;
}

nav{
    height: 30px;
    background-color: lightgrey;
    text-align: center;
    color: red;
    font-weight: bold;
}

div.main{
    height: 100%;
}

footer{
    height: 50px;
    background-color: lightgrey;
    color: red;
    text-align: left;
}

h1, h2{
    font-family: "Comic Sans MS";
}