body{
    height: 100%;
    font-family: Calibri;
    background-color: #3d3d3d;
    color: rgb(255, 255, 255);
}

header{
    height: 60px;
    background-color: rgb(0, 247, 255);
    text-align: center;
}

nav{
    height: 30px;
    background-color: lightgrey;
    text-align: center;
    color: red;
    font-weight: bold;
}

div.main{
    height: 100%;
}

.formularP{
    display: flex;
    flex-direction: row;
}

.lab{
    float: left;width: 100px;
}

label{
    border: #3d3d3d;
    border-style: solid;
    border-width: 1px;
    size: 50px;
}


footer{
    height: 50px;
    background-color: lightgrey;
    color: red;
    
    text-align: left;
}

.biggustuerkisus{
    background-color: rgb(0, 230, 230);
    text-align: center;
    margin-bottom: 0px;
    margin: 0px;
}
.grauundrot{
    background-color: #929292;
    color: red;
    text-align: center;
    margin-bottom: 0px;
    margin: 0px;
}

h1, h2{
    font-family: "Comic Sans MS";
}

/* TODO  */
caption{
    position: relative;
    background-position-x: left;
    background-position-y: bottom;
}

footer{
   position: absolute; 
   bottom: 0px;
}