/*TODO Make shit work*/

td {
    text-align: left;
    border: 1px solid black;
    background: #F5F4E1;
}

th {
    border: 1px solid black;
    height: 20px;
}


table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    caption-side: bottom;
}
.ueberschrift{
    background: green;
}
.zweiteuebershrift {
    background: #7abbbe;
}