*{
    font-family: sans-serif;
    margin:0 auto;
    color: #bb00ff!important;
}

body {
    color: #dddddd;
    background: #222222;
}
input , textarea , label , select{
    color: rgb(255, 255, 255);
    background: #222222;
}